.h1-footer {
  color: green;
  text-align: center;
  margin-top: 50px;
}

.top-footer-content > h1 {
  font-family: "Raleway";
  display: flex;
  justify-content: center;
  color: white;
}

.footer-wrap {
  background-color: #004e89;
}
