/* TODO Add site wide styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
}

.note {
  background: white;
  padding: 10px;
  height: auto;
  width: 200px;
  margin: 40px;
  float: left;
  border-radius: 15px;
  box-shadow: 0px 1px 6px rgb(160, 160, 160);
}

.note p {
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  font-style: normal;
}

.note h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1rem;
}

.header {
  display: flex;
  align-self: center;
  padding: 10px 20px;
  margin: auto -5px;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2 4px 0 rgb(130, 100, 100);
  border-bottom: 3px solid #ff6b35;
}

.header h3 {
  font-size: 2rem;
  color: #004e89;
  margin-left: 8px;
  font-family: fantasy;
}

form input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  margin-bottom: 20px;
  font-size: 1rem;
  resize: none;
}

form {
  position: relative;
  width: 600px;
  margin: 32px auto 50px auto;
  background: white;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 2px 8px rgb(128, 128, 128);
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  font-size: 1rem;
  resize: none;
}

form button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  bottom: -18px;
  background: #ff6b35;
  /* border: none; */
  border-radius: 30%;
  height: 40px;
  width: 40px;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  cursor: pointer;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid black;
}

.count {
  display: flex;
  margin-top: 20px;
  font-size: 20px;
  padding-top: 50px;
  color: black;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
}

.anotherone {
  display: inline-block;
  margin-left: 50px;
}

.count h4 {
  font-size: 1.5rem;
}
/* below is just for demo styling */

.btn:focus {
  outline: none;
  box-shadow: none;
}

.mcdelete {
  color: #004e89;
  display: flex;
  justify-self: flex-end;
  margin: auto;
}

::placeholder {
  color: black;
  font-family: sans-serif;
  font-size: 1em;
}

/* .login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
} */

.form-style {
  position: absolute;
}

.note > form {
  position: absolute;
  background-color: black;
}

#submit-button {
  color: white;
  font-size: 12px;
  border-radius: none;
  text-decoration: none;
  padding: 10px;
  border-bottom: none;
  border-color: white;
  outline: none;
}

.note button {
  position: relative;
  font-size: 12px;
  float: right;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

::placeholder {
  color: #334257;
  font-size: 1em;
}
