.profile-dropdown {
  position: relative;
  color: black;
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.profile-dropdown > li {
}

.fa-user-cog {
  border-radius: 10px;
  font-size: 20px;
  top: 100px;
}

.sign-upp {
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
}

.fa-user-plus {
  font-size: 25px;
  color: white;
}

.logsignwrap {
  display: flex;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #004e89;
}
