.profile-dropdown {
  position: absolute;
}

.fa-user-circle {
  border-radius: 10px;
  font-size: 15px;
}

.user-lit {
  border-radius: 10px;
  font-size: 15px;
}

.user-lit2 {
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
