.letslog {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Raleway;
  margin-top: 10px;
}

.thatone {
  font-size: 12px !important;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px 25px;
  margin-top: 5px;
  background-image: linear-gradient(
    to right,
    #004e89 0%,
    #4e4376 51%,
    #004e89 100%
  );
  position: absolute;
}

.cglogin {
  font-size: 25px;
}

.demobutton {
  position: absolute;
  top: 25px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 20px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px 25px;
  position: relative;
  left: 10px;
  margin-top: 5px;
  background-image: linear-gradient(
    to right,
    #004e89 0%,
    #4e4376 51%,
    #004e89 100%
  );
}
.demobuttonwrap {
  /* display: inline-block;
  justify-content: center; */
}

.moddy {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffff;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border: none;
  padding: 10px 25px;
  background-image: linear-gradient(
    to right,
    #004e89 0%,
    #4e4376 51%,
    #004e89 100%
  );
}
