.letslog {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Raleway;
  margin-top: 10px;
}

.thatone {
  font-size: 15px !important;
}

.cglogin {
  font-size: 25px;
}

.login-form {
}
